{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4 review-title">Reviews</h2>
                <h5 class="text-muted ">Delete Review</h5>
                <hr>
            </div>
        </div>
        <!-- form for users to edit a review-->
        <div class="row pb-5">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'delete_review' review.id %}" class="form mb-2"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a href="{% url 'reviews' %}" class="btn">Cancel</a>
                        <button class="btn" type="submit">Delete Review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}