{% extends "base.html" %}
{% load static %}

{% block page_header %}

	<!-- <div class="container header-container">
		<div class="row">
			<div class="col"></div>
		</div>
    </div> -->
    
{% endblock %}

{% block content %}

	<!-- <div class="container ">
		<div class="row" style="margin-top: 20em; margin-left: 22em;">
			<div class="col">
				<div class="row">
					<div class="col my-auto index-title-bg">
						<h1 class="display-4 logo-font main-title">
								All the kit your dog will need
						</h1>
					</div>
					<div class="col my-auto">
						<h4>
							<a href="" class="shop-now-button btn btn-lg rounded-5 text-uppercase py-3"> <i class="fas fa-dog shop-button-icon"></i>  Shop <i class="fas fa-dog shop-button-icon"></i> </a>
						</h4>
					</div>
				</div>
			</div>  
		</div>
    </div> -->


<!-- <div class="container-fluid base-container"> -->

	<div class="container-fluid">
		
		<div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100 parallax" id="first-block">
		<!-- <div class="container "> -->
				<div class="row" style="margin-top: 20em; margin-left: 22em;">
					<div class="col">
						<div class="row">
							<div class="col my-auto index-title-bg">
								<h1 class="display-4 logo-font main-title">
										All the kit your dog will need
								</h1>
							</div>
							<div class="col my-auto">
								<h4>
									<a href="" class="shop-now-button btn btn-lg rounded-5 text-uppercase py-3"> <i class="fas fa-dog shop-button-icon"></i>  Shop <i class="fas fa-dog shop-button-icon"></i> </a>
								</h4>
							</div>
						</div>
					</div>
				</div>
		</div>

		<div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100 parallax" id="second-block">


		</div>

		<div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100 parallax" id="third-block">


		</div>

		<div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100 parallax" id="fourth-block">


		</div>

		<!-- </div> -->



	</div>

<!-- </div> -->

{% endblock %}