{% extends "base.html" %}
{% load static %}

{% block page_header %}

	<!-- <div class="container header-container">
		<div class="row">
			<div class="col"></div>
		</div>
    </div> -->
    
{% endblock %}

{% block content %}


<!-- <div class="container-fluid base-container"> -->

	<div class="container-fluid">
		
		<div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100 parallax" id="block-one">
			<div class="container ">
				<div class="row" style="margin-top: 20em">
					<div class="col-8 index-title-bg">
						
							<!-- <div class="col index-title-bg"> -->
								<h1 class="display-4 logo-font main-title">
										The funkiest doggie clothing
								</h1>
							<!-- </div> -->
							
						
					</div>
				</div>
			</div>
		</div>

		<div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-80 parallax" id="block-two">
			<div class="row justify-content-center">
				<div class="col-8 block-two-intro">
					<h4 class="m-5 block-two-h4"> Make your dog stand out with the best clothes and accessories! 
									We have the best dog kit in town for the funkiest doggos.
							</h4>
						<div class="row justify-content-center align-items-center block-two-inside">
							<div class="col-10 text-center">
								<h3 class="block-two-text"> YES! Please show me the good stuff</h3>
							</div>

							<div class="col-8 text-center">
								<h4>
									<a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase"> <i class="fas fa-dog shop-button-icon"></i>  Shop now!   
									</a>
								</h4>
							</div>

						</div>
				</div>
					
			</div>
		</div>

		<div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100 parallax" id="block-three">

			
				<div class="row center-align reg-main">
					<!-- box effect inspiration from https://www.youtube.com/watch?v=N88wrGuI7bM -->
					<div class="box reg-wrapper">
						<div class="row">
							<div class="col">
								<h1 class="reg-title">
									<div class="reg-title-bold">Register or Log In</div>for faster checkout!
								</h1>
							</div>
						</div>

						<div class="row">
							<div class="col text-center">
								<a class="btn btn-pink" href=""><b>Register/Login</b></a>
							</div>
						</div>

								
						
					</div>
				</div>
		



		</div>

		<div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100 parallax" id="block-four">


		<!-- start of redirection to login page -->
		<div class="row center-align mb-5 mt-5">
			<div class="col-12 text-center">
				
			</div>
			<div class="col text-center">
				
			</div>
		</div>
		<!-- end of redirection to login page -->

		<div class="row justify-content-center">
			<div class="col-8 block-two-intro">
				<div class="h4 m-5 block-two-h4"> Need some inspiration? Why not check our latest deals out? </div>
					<div class="row justify-content-center align-items-center block-two-inside">
						<div class="col-8">
							 
								<h4 class="block-two-text"> 
								
	
								<a href="{% url 'products' %}" class=" btn btn-lg text-uppercase">    
								</a>
							</h4>

						</div>

					</div>
			</div>
				
		</div>

		</div>

		<!-- </div> -->



	</div>

<!-- </div> -->

{% endblock %}