{% extends "base.html" %}
{% load static %}

{% block page_header %}

	<!-- <div class="container header-container">
		<div class="row">
			<div class="col"></div>
		</div>
    </div> -->
    
{% endblock %}

{% block content %}
<!-- <div class="container-fluid base-container"> -->
	<div class="container-fluid">
		<div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100 parallax" id="block-one">
			<div class="container ">
				<div class="row" style="margin-top: 10em">
					<div class="col-8 index-title-bg">
							<!-- <div class="col index-title-bg"> -->
								<h1 class="display-4 logo-font main-title">
										The funkiest doggie clothing & kit!
								</h1>
							<!-- </div> -->
					</div>
				</div>
			</div>
		</div>

		<div class="div-parallax d-flex justify-content-center align-items-center w-100 parallax" id="block-two">
			<div class="row justify-content-center mb-5 mt-5">
				<div class="col-8 block-two-intro">
					<h4 class="m-5 block-two-h4"> Make your dog stand out with our clothes and accessories! 
									We have the best kit in town for the funkiest doggos
					</h4>
						<div class="row justify-content-center align-items-center block-two-inside">
							<div class="col-10 text-center">
								<h3 class="block-two-text"> Read our excellent client reviews
									<a href="{% url 'reviews' %}" class="reviews-text"> <b>here</b>
									</a>
								</h3>
								
							</div> 

							<div class="col-8 text-center">
								<h4>
									<a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase"> <i class="fas fa-shopping-cart shop-button-icon"></i>  Shop now   
									</a>
								</h4>
							</div>							
						</div>
				</div>					
			</div>
		</div>

		<div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100 parallax" id="block-three">
				<div class="row center-align reg-main">
					<!-- box effect inspiration from https://www.youtube.com/watch?v=N88wrGuI7bM -->
					<div class="reg-wrapper">
						<div class="row">
							<div class="col">
								<h1 class="reg-title">
									<div class="reg-title-bold text-center">Register or Log In</div>for faster checkout!
								</h1>
							</div>
						</div>
						<div class="row">
							<div class="col text-center">
								<a  href="{% url 'account_login' %}" class="btn btn-pink"> <b>REGISTER/LOG IN</b></a>
							</div>
						</div>
						<!--<div class="row">
							<div class="col text-center">
								{% if request.user.is_authenticated %}
									<a href="{% url 'account_login' %}" class="btn btn-pink"> <b>LOGIN</b></a>
								{% else %}
									<a href="{% url 'account_signup' %}" class="btn btn-pink"> <b>LOGIN/REGISTER</b></a>
								{% endif %}
							</div>
						</div>-->
					</div>
				</div>
		</div>


		<div class="div-parallax d-flex justify-content-center align-items-center w-100 parallax" id="block-four">
			<div class="row justify-content-center mb-5 mt-5">
				<div class="col-8 block-two-intro">
					<h4 class="m-5 block-two-h4"> Are you feeling in need of fresh inspiration? Check our <i class="fas fa-dog shop-button-icon"></i> NEWSLETTERS
						for the best ideas!
					</h4>
						<div class="row justify-content-center align-items-center block-two-inside mb-5">
							<div class="col-10 text-center">
								<h3 class="block-two-text"> Click
									<a href="{% url 'newsletters' %}" class="reviews-text"> <b>here</b>
									</a>
									for our newsletters
								</h3>
								
							</div> 						
						</div>
				</div>					
			</div>
		</div>

	</div>

<!-- </div> -->

{% endblock %}