html {
    height: 100%;
}

/* from Bulma */
.icon { 
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.top-banner {
    background-color:#dd26a0;
    /* background-color: #aad3ff; */
    /* background-color: #4c7db3; */
    /* margin-left: 1px;
    margin-right: 1px; */
}

.delivery-banner {
    background-color: #0000008f;
    /* margin-left: 1px;
    margin-right: 1px; */
}

.logo-font {
    text-transform: uppercase;
}

.banner-text {
    text-transform: uppercase;
    color: white;
    /* color: #00e7ff; */
}

.main-logo-link {
    width: fit-content;
}

.index-title-bg {
    background-color: #273e6542;
}


.navbar-toggler-icon {
    color: white;
}

.shop-now-button {
    background: black;
    border-radius: 2em;
    color: white;
    margin-top: 2em;
    padding: 1.5em;  
}

.shop-button-icon {
    color: #00ffffe6;
}

.logo-icon {
    color: #4c7db3;
}

.search-button {
    background-color: #4c7db3;
}

.search-icon {
    color: white;
} 

.account-icon {
    color: #4c7db3;
}

.bag-icon {
    color: #4c7db3;
}

.btn-add-bag {
    background-color: #dd26a0;
    border: 1px solid #dd26a0;
    color: white;
    font-weight: bold;
}

.btn-add-bag:hover,
.btn-add-bag:active,
.btn-add-bag:focus {
    color: #fcf6a2;
    /* color: black; */
    font-style: italic;
}

.btn-back-shop {
    background: black;
    color: white;
    /* color: black !important;  */
    border: 1px solid black;
    font-weight: bold;
}

.btn-back-shop:hover,
.btn-back-shop:active,
.btn-back-shop:focus {
    color: #00ffffe6;
    font-style: italic;
    /* color: white !important; */
}


.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #dd26a0;
    color: white;

}


.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.main-title {
    color: #00ffffe6;
    font-size: 2.5rem;
}


#block-one {
    /* background: url('/media/homepage-background-cropped.jpg') no-repeat center center fixed; */
    background: url('/media/home2.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

#block-two {
    background-color: #b8c6dd38;
    /* height: 80vh; */
}

#product-detail-block-two {
    background-color: #b8c6dd38;
    height: 80vh;
}

#block-three {
    background: url('/media/home3.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

#block-four {
    background-color: #b8c6dd;
    /* height: 100vh; */
}


.block-two-intro {
    background-color: #6f98c5;
    border-radius: 80px;
}

.block-two-text {
    background-color: ghostwhite;
    border-radius: 3em;
    color: #dd26a0;
    /* font-weight:600; */
    padding: 2em;
}

.block-two-inside {
    margin-bottom: 2em;
}

.block-two-h4 {
    color: white;
}

.reviews-text {
    background-color: ghostwhite;
    border-radius: 3em;
    color: #dd26a0;
    /*font-weight:600;*/
    /*padding: 2em;*/
}

.product-detail-block-two-intro {
    background-color: #6f98c5;
    border-radius: 80px;
}

.product-detail-block-two-text {
    background-color: ghostwhite;
    border-radius: 3em;
    padding: 2em;
}

.product-detail-block-two-inside {
    margin-bottom: 2em;
}

.product-detail-accord {
    margin-bottom: 5em;
}

.footer-social {
    padding-top: 3em;
    padding-bottom: 2em;
}

.social-text {
    color: black;
    /*color: #dd26a0bf;*/
    /*color: #dd26a0;*/
    padding-bottom: .3em;
}

.footer-social-icon {
    color: #dd26a0bf;
    /*color: #dd26a0;*/
}

.footer-cr {
    background-color: #dd26a0bf;
    /*background-color: #dd26a0;*/
    /*background-color: #aad3ffbf;*/
    /* background-color: #eff2f8; */
    padding-top: 3em;
}

.footer-cr-text1 {
    color: white;
    /*color: #03698c;*/
}

.footer-cr-text2 {
    color: #dd26a0bf;
    /*color:#dd26a0;*/
    /*color: #03698c;*/
}


.footer-cr-text3 {
    color: white;
    /*color: #03698c;*/
}

.footer-cr-icon {
    color: white;
    /*color: #03698c;*/
}

.footer-cr-icon2 {
    color: #dd26a0bf;
    /*color:#dd26a0;*/
}

.login {
    background-color: white;
    border-radius: 1.5em;
    color: black;
    padding: 1em;
}

.shop-now {
    padding: 1em;
}

.back-top {
    padding: 1em;
}

.product-card {
    background-color: #b7c8db24;
    border-color: white;
    /* padding: 1em; */

}

.card-footer {
    background-color: #b7c8db24;
}

.card-body-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #2c65b3;
    font-size: larger;
    letter-spacing: .1em;
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Righteous', cursive; */
}

.edit-product-button {
    color: #1bb9ca;
}

.products-title {
    color: #2d81aa;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.product-detail-img {
    height: 30em;
    width: 30em;
    /* margin: 2em; */
    padding: 2em;
}

.product-img {
    height: 23em;
    width: 23em;
}

.bag-img {
    height: 15em;
    width: 15em;
}

.prod-img {
    display:flex;
    justify-content: center;
    padding-top: 1.1em;
}

.product-card-wrapper {
    margin-bottom: 2em;
    margin-top: 2em;
}

.product-detail-info{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    padding: 3em;
}

.product-price {
    color: black;
   /* color:#dd26a0; */
   /* color: #2c65b3; */
}

.prod-category {
    color: #4b6b14;

}

.prod-rating {
    color: #ab830b;
}

.card-detail-text {
    color:#dd26a0;
    /* color: #2c65b3; */
    font-size: largest;
    font-weight: 500;
}

.card-detail-body-text {
    color: #2c65b3;
    font-size: larger;
}


.reg-title  {
    color: #000000;
    margin: .5em;
    margin-left: 1em;
}

.reg-title-bold {
    color: #dd26a0;
    font-weight:600;
    text-transform: uppercase;
}

.reg-text {
    text-transform: uppercase;;
}

.reg-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    background: #d7baa600;
    box-shadow: 0 35px 50px #0a1516c9;
    /* height: 20em; */
    margin-bottom: 6em;
    margin: 3em;
    padding: 2em;
    /* width: 34em; */
}

.box {
    background-color: rgba(0, 0, 0, 0.5);
    background: #d7baa600;
    box-shadow: 0 35px 50px #0a1516c9;
    height: 20em;
    margin-bottom: 6em;
    margin: 3em;
    padding: 2em;
    /* width: 34em; */
}

.label {
    color:grey;
}


.btn-pink {
    border-radius: 2em;
    color: #f8f9fa;
    background-color: #dd26a0;
    /* background-color: #a51979; */
    letter-spacing: .1em;
    font-size: large;
    margin: 1em;
    padding: 1em;
}


.btn-white {
    border-radius: 1.5em;
    background-color: white;
    padding: 1.2em;
    margin-left: .5em;
}

a.category-badge > span.badge:hover{
    background: #a51979 !important;
    color: #fff !important;
}


.btn-up {
    background-color: white;
    color: #a51979;
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;

}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


input[name='q']::placeholder {
    color: #aab7c4;
}


.review-card {
    border-color: #2c65b3;
    /*border-color: #2d81aa;*/
    /*border-color: #dd26a0;*/
}

.review-title {
    color: #dd26a0;
    /*color: #2c65b3;*/
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.review-subtitle {
    color: #dd26a0;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.review-text {
    color: #2c65b3;
}

.review-icon {
    color: #dd26a0;
    /*color: #2c65b3;*/
}


.review-button {
    /*background: #2c65b3;*/
    /*border-radius: 1em;*/
    color: white;
    margin-top: 1em;
    padding: 1em;
    border-color: #2c65b3;
}

.review-button-icon {
    color: #00ffffe6;
}


.edit-review {
    color: #dd26a0;
}


.delete-review {
    color: #9eabd2;
    /*color: #dd26a0;*/
}

.btn-add-review {
    /*border-radius: 2em;*/
    color: #f8f9fa;
    /*background-color: #2c65b317;*/
    /*background-color: #2c65b38a;*/
    /*background-color: #2c65b3;*/
    letter-spacing: .1em;
    font-size: x-large;
    font-weight:600;
    margin: .5em;
    padding: 3em;
}

.add-review-url {
    border-radius: 1.5em;
    background-color: #dd26a0bf;
    /*background-color: #dd26a0;*/
    color: white;
    /*background-color: white;
    color: #dd26a0;*/
    letter-spacing: .1em;
    font-size: large;
    margin: .5em;
    padding: 2em;
    
}



.btn-review-page {
    /*border-radius: 2em;*/
    color: #f8f9fa;
    background-color: #dd26a0;
    letter-spacing: .1em;
    font-size: large;
    margin: .5em;
    padding: .5em;
}




/* ------------------------------- bootstrap toasts ---------------------------------------- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* -------------------------- Convenience classes - colours  from Bootstrap -------------------------- */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* -------------------------------- Media Queries ------------------------------------- */

/* ----- Larger container on xl screens ---- */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}


/* --------  Allauth form formatting -------------- */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}


/* -------------------- Product Form ------------------- */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* ------ Fixed top navbar on medium and upward ----- */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}


/* ------ Top of navbar padding when collapsed on mobile --- */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

