html {
    height: 100%;
}

/* from Bulma */
.icon { 
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.top-banner {
    background-color:#dd26a0;
    /* background-color: #aad3ff; */
    /* background-color: #4c7db3; */
    /* margin-left: 1px;
    margin-right: 1px; */
}

.delivery-banner {
    background-color: #0000008f;
    /* margin-left: 1px;
    margin-right: 1px; */
}

.logo-font {
    text-transform: uppercase;
}

.banner-text {
    text-transform: uppercase;
    color: white;
    /* color: #00e7ff; */
}

.main-logo-link {
    width: fit-content;
}

.index-title-bg {
    background-color: #273e6542;
}


.navbar-toggler-icon {
    color: white;
}

.shop-now-button {
    background: black;
    border-radius: 2em;
    color: white;
    margin-top: 2em;
    padding: 1.5em;  
}

.shop-button-icon {
    color: #00ffffe6;
}

.logo-icon {
    color: #4c7db3;
}

.search-button {
    background-color: #4c7db3;
}

.search-icon {
    color: white;
} 

.account-icon {
    color: #4c7db3;
}

.bag-icon {
    color: #4c7db3;
}

.btn-add-bag {
    background-color: #dd26a0;
    border: 1px solid #dd26a0;
    color: white;
    font-weight: bold;
}

.btn-add-bag:hover,
.btn-add-bag:active,
.btn-add-bag:focus {
    color: #fcf6a2;
    /* color: black; */
    font-style: italic;
}

.btn-back-shop {
    background: black;
    color: white;
    /* color: black !important;  */
    border: 1px solid black;
    font-weight: bold;
}

.btn-back-shop:hover,
.btn-back-shop:active,
.btn-back-shop:focus {
    color: #00ffffe6;
    font-style: italic;
    /* color: white !important; */
}


.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #dd26a0;
    color: white;

}


.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.main-title {
    color: #00ffffe6;
}


#block-one {
    /* background: url('/media/homepage-background-cropped.jpg') no-repeat center center fixed; */
    background: url('/media/home2.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

#block-two {
    background-color: #b8c6dd38;
    height: 80vh;
}


#product-detail-block-two {
    background-color: #b8c6dd38;
    height: 80vh;
}


#block-three {
    background: url('/media/home3.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}


#block-four {
    background-color: #b8c6dd;
}

.block-two-intro {
    background-color: #6f98c5;
    border-radius: 80px;
}


.block-two-text {
    background-color: ghostwhite;
    border-radius: 3em;
    color: #dd26a0;
    font-weight:600;
    padding: 2em;
}

.block-two-inside {
    margin-bottom: 2em;
}

.block-two-h4 {
    color: white;
}

.product-detail-block-two-intro {
    background-color: #6f98c5;
    border-radius: 80px;
}


.product-detail-block-two-text {
    background-color: ghostwhite;
    border-radius: 3em;
    padding: 2em;
}

.product-detail-block-two-inside {
    margin-bottom: 2em;
}

.product-detail-accord {
    margin-bottom: 5em;
}


.footer-social {
    padding-top: 3em;
    padding-bottom: 2em;
}

.social-text {
    color: #dd26a0;
    padding-bottom: .3em;
}

.footer-social-icon {
    color: #dd26a0;
}

.footer-cr {
    background-color: #aad3ffbf;
    /* background-color: #eff2f8; */
    padding-top: 3em;
}

.footer-cr-text1 {
    color: #03698c;
}

.footer-cr-text2 {
    color: #03698c;
}

.footer-cr-icon {
    color: #03698c;
}

.login {
    background-color: white;
    padding: 1em;
}

.shop-now {
    padding: 1em;
}

.back-top {
    padding: 1em;
}

.product-card {
    background-color: #b7c8db24;
    border-color: white;
    /* padding: 1em; */

}

.card-footer {
    background-color: #b7c8db24;
}

.card-body-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #2c65b3;
    font-size: larger;
    letter-spacing: .1em;
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Righteous', cursive; */
}

.edit-product-button {
    color: #1bb9ca;
}

.products-title {
    color: #2d81aa;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.product-detail-img {
    height: 35em;
    width: 35em;
    /* margin: 2em; */
    padding: 2em;
}

.product-img {
    height: 23em;
    width: 23em;
}

.bag-img {
    height: 15em;
    width: 15em;
}

.prod-img {
    display:flex;
    justify-content: center;
    padding-top: 1.1em;
}

.product-card-wrapper {
    margin-bottom: 2em;
    margin-top: 2em;
}

.product-detail-info{
    display: flex;
    justify-content: space-around;
    margin-top: 6em;
    padding: 3em;
}

.product-price {
   color: #2c65b3;
}

.prod-category {
    color: #4b6b14;

}

.prod-rating {
    color: #ab830b;
}

.card-detail-text {
    color: #2c65b3;
    font-size: largest;
    font-weight: 500;
}

.card-detail-body-text {
    color: #2c65b3;
    font-size: larger;
}


.reg-title  {
    color: #000000;
    margin: .5em;
    margin-left: 1em;
}

.reg-title-bold {
    color: #dd26a0;
    font-weight:600;
    text-transform: uppercase;
}

.reg-text {
    text-transform: uppercase;;
}


.box {
    background-color: rgba(0, 0, 0, 0.5);
    background: #d7baa600;
    box-shadow: 0 35px 50px #0a1516c9;
    height: 20em;
    margin-bottom: 6em;
    margin: 3em;
    padding: 2em;
    width: 34em;
}

.label {
    color:grey;
}


.btn-pink {
    border-radius: 2em;
    color: #f8f9fa;
    background-color: #dd26a0;
    /* background-color: #a51979; */
    letter-spacing: .1em;
    font-size: large;
    margin: 1em;
    padding: 1em;
}


.btn-white {
    border-radius: 1.5em;
    background-color: white;
    padding: 1.2em;
    margin-left: .5em;
}

a.category-badge > span.badge:hover{
    background: #a51979 !important;
    color: #fff !important;
}


.btn-up {
    background-color: white;
    color: #a51979;
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;

}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}














/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
