html {
    height: 100%;
}

/* body {
    background: url('/media/homepage-background-cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Righteous', cursive;

} */

/* from Bulma */
.icon { 
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.top-banner {
    background-color: #4c7db3;
    margin-left: 1px;
    margin-right: 1px;
    /* background-color: #00ffffe6; */
    /* background-color: #00ffff75; */
    /* background-color: #ee959e9e */
}

.delivery-banner {
    background-color: #0000008f;
    margin-left: 1px;
    margin-right: 1px;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.index-title-bg {
    background-color: #273e6542;
}

.shop-now-button {
    background: black;
    color: white;
    /* min-width: 4em; */
    border-radius: 2em;
    padding: 1em;
    margin-left: 8em;
}

.shop-button-icon {
    color: #00ffffe6;
    /* color: #ee959e; */
}

.logo-icon {
    color: #4c7db3;
    /* color: #ffffff; */
    /* color: #ee959e; */
}

.search-button {
    background-color: #4c7db3;
    /* background-color:#00ffff75; */
    /* background-color: #ee959e; */
    /* background-color: #acafb5; */
    /* background-color: black; */
}

.search-icon {
    color: white;
    /* color: white; */
    /* color: #ee959e; */
} 

.account-icon {
    color: #4c7db3;
    /* color: white; */
}

.bag-icon {
    color: #4c7db3;
    /* color: white; */
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.main-title {
    color: #00ffffe6;
    /* color: #00ffff75; */
   /* color: #ee959e; */
   /* color: #a65b62; */
}


#block-one {
    /* background: url('/media/homepage-background-cropped.jpg') no-repeat center center fixed; */
    background: url('/media/home2.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

#block-two {
    background-color: #b8c6dd38;
    height: 80vh;
    /* background-color: #b8c6dd; */
}

#block-three {
    background: url('/media/home3.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}


#block-four {
    background-color: #b8c6dd;
    /* background-color: #b8c6dd38; */
}

.block-two-intro {
    background-color: #6f98c5;
    border-radius: 80px;
}

.block-two-h4 {
    
}

.block-two-text {
    background-color: ghostwhite;
    border-radius: 3em;
    padding: 2em;
}

.block-two-inside {
    margin-bottom: 2em;
}

.social-text {
    color: #4c7db3;
}

.footer-social-icon {
    color: #4c7db3;
}


.footer-cr-text1 {
    color: #4c7db3;
}

.footer-cr-text2 {
    color: #4c7db3;
}

.footer-cr-icon {
    color: #4c7db3;
}












/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}